@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400%3B500%3B600%3B700&display=swap");

@tailwind base;

@tailwind components;

.wrapper {
    @apply mx-auto px-6;

    @screen tablet {
        @apply px-10;
    }

    @screen laptop {
        max-width: 1024px;
    }

    @screen desktop {
        max-width: 1280px;
    }
}

.inner-wrapper {
    @screen desktop {
        @apply w-10/12 mx-auto;
    }
}

.btn-white,
.btn-outline,
.btn-blue {
    @apply px-6 py-4 text-16 font-bold uppercase leading-none text-center appearance-none;
    min-width: 168px;
    transition: 0.2s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.btn-blue {
    @apply bg-blue text-white border border-blue;

    &:hover {
        color: rgba(255, 255, 255, 0.7);
    }
}

.btn-white {
    @apply bg-white text-blue border border-white;

    &:hover {
        background-color: rgba(255, 255, 255, 0.9);
    }
}

.btn-outline {
    @apply text-white border border-white;

    &:hover {
        color: rgba(255, 255, 255, 0.7);
    }
}

.page-header {
    min-height: 169px;

    @screen tablet {
        min-height: 184px;
    }
}

::placeholder {
    @apply text-blue opacity-100;
}

.text-input,
.textarea {
    @apply block bg-white border border-blue p-3 text-blue text-14 appearance-none w-full resize-none;

    &:focus {
        outline: none;
    }
}

.textarea {
    @apply h-40;
}

.shadow-pink {
    box-shadow: theme("colors.pink") 8px 8px 0px 0px;
}

.shadow-yellow {
    box-shadow: theme("colors.yellow") 8px 8px 0px 0px;
}

.shadow-green {
    box-shadow: theme("colors.green") 8px 8px 0px 0px;
}

.white-gradient {
    background-image: linear-gradient(to bottom, transparent, #fff);
}

.blog-item:after {
    @apply bg-blue h-px justify-self-center flex-shrink-0 mt-8;
    width: calc(100% - 2rem);
    content: "";
}

@screen desktop {
    .blog-item:after {
        @apply bg-blue h-px justify-self-center flex-shrink-0 mt-8;
        width: calc(83.333333% - 2rem);
        content: "";
    }
}

.wysiwyg {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply text-blue font-medium;
    }

    h1,
    h2 {
        @apply text-32 mb-4 leading-snug;
    }

    h3 {
        @apply text-24 mb-3 leading-snug;
    }

    h4 {
        @apply text-20 mb-2 leading-normal;
    }

    h5 {
        @apply text-16 mb-2 leading-normal;
    }

    h6 {
        @apply text-14 mb-2 leading-normal;
    }

    p {
        @apply text-18 leading-normal text-black mb-8;
    }

    a {
        @apply text-18 leading-normal text-blue mb-8;

        &:hover {
            @apply underline;
        }
    }

    p a {
        @apply mb-0;
    }

    .preamble {
        @apply text-20 text-black font-medium leading-normal mb-10;
    }

    ul,
    ol {
        @apply text-18 leading-normal text-black mb-6;
    }

    li {
        @apply mb-1 leading-normal pl-8;
    }

    ul li {
        @apply relative;

        &:before {
            @apply bg-red rounded-full;
            content: "";
            display: block;
            width: 6px;
            height: 6px;
            position: absolute;
            top: 9px;
            left: 0.5rem;
        }
    }

    ul {
        @apply ml-2;
    }

    ol {
        @apply ml-8;
        list-style-type: decimal;
        list-style-position: outside;
    }

    ol li {
        @apply pl-2;
    }

    img {
        display: block;
        width: 100%;
        max-width: 100%;
    }
}

.nav-open {
    overflow: hidden;

    .mobile-nav {
        @apply block;
    }
}

.mobile-nav {
    @apply fixed inset-0 bg-blue hidden;
    top: 83px;

    @screen laptop {
        @apply hidden;
    }
}

@tailwind utilities;